body{
    background-color: #e8e5e5;
}
/* SECCION PERFIL */
.seccion-perfil{
    background-color: #32445f;
    display: flex;
}

.datos-principales{
    color:#fff;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
}

.datos-principales div{
    display: flex;
}

.redes-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes-contacto a{
    margin-top: 10px;
    text-decoration: none;
    font-weight: lighter;
    color: #fff;
}
.redes-contacto span{
    margin-top: 10px;
}

.seccion-perfil i{
    margin-right: 7px;
}

#fotoUsuario{
    max-width: 200px;
}

/* SECCION RESUMEN */

.saludo-objetivos{
    font-family: 'Roboto Slab', serif;
}

.saludo-objetivos h2{
    margin-top: 20px;
}

hr{
    border: none;
    border-top:2px solid black;
    height: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

/* SECCION EXPERIENCIA LABORAL */

.experiencia-laboral{
    font-family: 'Roboto Slab', serif;
}

.experiencia-laboral h2{
    margin-top: 20px;
}

.cargo-empresa{
    display: flex;
    justify-content:space-between;
}

.puesto{
    margin-left: 10px;
}

.empresa{
    margin-right: 10px;
}